@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@tailwind base; 


@tailwind components;

@layer componets {
  .starRatings {
    font-size: 16px;
    background-color: #ffc101;
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: max-content;
    position: relative;
  }
}
@tailwind utilities;


@layer utilities {
    .content-auto {
      content-visibility: auto;
    }
}